#contactSection {
  background: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 10vh);
  a:hover {
    color: $hover;
  }
}

.contactWrap {
  background-color: $black;
  color: $white;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 10;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.contactBox {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  h1 {
    font-size: 2em;
  }
}

.contactInfo {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  p {
    font-size: 1.3em;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}

.siteByInfo {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 9;
}

//for smaller devices
@media screen and (max-width: 1600px) {
  .contactBox {
    width: 10rem;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .contactInfo {
    p {
      font-size: 2rem;
    }
  }
}
