.cvSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cvWrap {
  padding-top: 8rem;
  padding-left: 10rem;
  background-color: $black;
  color: $white;
  width: 55%;
  div {
    margin-bottom: 4rem;
  }
  ul {
    list-style-type: none;
  }
  p,
  li {
    padding: 0.5rem;
  }
  .headerBox {
    h1 {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
  }
}
