@import "colorVariable";
.musicContainer{
    display: grid;
    grid-template-columns: 10em 40em auto;
    grid-template-rows: 5em auto;
    padding: 5em;
    margin-bottom: 20em;
    margin-top: 20em;
    h2{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        padding-bottom: 1em;
        align-self: end;
        font-size: 2em;    
    }
    iframe{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        width:600px;
        height:400px;
        background: $movie;
        align-self: center;
    }
    video{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        width:600px;
        max-height:400px;
        background: $movie;
        align-self: center;
    }
    p{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        font-size: 1.2em;
        font-weight: 900;
    }
    background-color: $black;
    color: $white;
    box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
    
}

@media screen and (max-width: 1024px){
    .musicContainer{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 5em 20em 5em 5em auto;
        h2{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            align-self: end;
            font-size: 1.4em;  
        }
        video{
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            width:600px;
            max-height:400px;
            align-self: center;
            justify-self: center;
        }
        p{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            font-size: 0.7em;
        }

    }
    
}
@media (min-width: 320px) and (max-width: 480px){
    .musicContainer{

        h2{

            font-size: 1.8em;    
        }

        p{
            font-size: 1em;
        }

    }
}