@import "colorVariable";

#nav{
    z-index: 10;
    order: 1;
    position: fixed;
    top: 0;
    width: 15vw;
    ul{
        padding: 1em;
        list-style-type:none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
  
    a{
        text-decoration: none;
        color: $white;
        font-size: 1em;
        color: white;
        
    }
    a:hover{
        color: $hover;
    }
   

}

