#profileSection {
  background: black;
  width: 100vw;
  height: 50vh;
  position: relative;
  h1,
  h2,
  p {
    color: white;
    font-weight: 100;
  }
}

#portfolieSection {
  background: black;
  position: relative;
  overflow: hidden;
}

.portfolieName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  h1 {
    font-size: 3.5em;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  p {
    font-size: 1.8em;
  }
}

//for smaller devices
@media screen and (max-width: 1024px) {
  #profileSection {
    height: 30vh;
  }
}
