#profileSection {
  background: black;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-attachment: fixed;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20em)[8];
      grid-template-columns: repeat(8, 20em);
  -ms-grid-rows: (10em)[9];
      grid-template-rows: repeat(9, 10em);
}

#profileSection h1, #profileSection h2, #profileSection p {
  color: white;
  font-weight: 100;
}

#portfolieSection {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.portfolieName {
  position: absolute;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.portfolieName h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.portfolieName h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.portfolieName p {
  font-size: 1.8em;
}

#nav {
  z-index: 10;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: fixed;
  top: 0;
  width: 15vw;
}

#nav ul {
  padding: 1em;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#nav a {
  text-decoration: none;
  color: #e9e9e9;
  font-size: 1em;
  color: white;
}

#nav a:hover {
  color: rgba(194, 194, 194, 0.226);
}

#aboutProfile {
  background: black;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-attachment: fixed;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[10];
      grid-template-columns: repeat(10, 10vw);
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
  color: #e9e9e9;
}

#aboutSection {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  background: black;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 15em;
}

#aboutSection p {
  font-weight: 900;
}

#aboutSection h3 {
  font-size: 1em;
}

.aboutName {
  position: absolute;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 8;
      grid-row-start: 8;
}

.aboutName h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.aboutName h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.aboutName p {
  font-size: 1.8em;
}

#aboutContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[10];
      grid-template-columns: repeat(10, 10vw);
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
}

#aboutContainer p {
  font-size: 1em;
}

#aboutContainer h1 {
  font-size: 1em;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background: #0c0c0c;
  color: #e9e9e9;
}

#aboutBox {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 8;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 5;
}

.educationBox {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 10;
  -ms-grid-row: 8;
      grid-row-start: 8;
  grid-row-end: 8;
}

.educationBox2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.educationBox3 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 10;
  -ms-grid-row: 16;
      grid-row-start: 16;
}

.educationBox4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 8;
  -ms-grid-row: 20;
      grid-row-start: 20;
}

.educationBox4, .educationBox3, .educationBox2, .educationBox, #aboutBox, .aboutItem {
  background-color: #0c0c0c;
  color: #e9e9e9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
          box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
}

.educationBox4, .educationBox3, .educationBox2, .educationBox, #aboutBox {
  margin: 5em;
}

@media screen and (max-width: 1024px) {
  #aboutSection {
    padding-bottom: 0;
  }
  #aboutSection p {
    font-size: 0.6em;
  }
  #aboutSection h3 {
    font-size: 0.8em;
  }
  #aboutContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (10em)[30];
        grid-template-rows: repeat(30, 10em);
  }
  #aboutContainer h1 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 10;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  #aboutBox {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 10;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .educationBox {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 10;
    -ms-grid-row: 12;
        grid-row-start: 12;
  }
  .educationBox2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 10;
    -ms-grid-row: 14;
        grid-row-start: 14;
  }
  .educationBox3 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 10;
    -ms-grid-row: 20;
        grid-row-start: 20;
  }
  .educationBox4 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 10;
    -ms-grid-row: 26;
        grid-row-start: 26;
  }
}

#contactSection {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  background: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[10];
      grid-template-columns: repeat(10, 10vw);
  -ms-grid-rows: (10vh)[10];
      grid-template-rows: repeat(10, 10vh);
}

.contactWrap {
  background-color: #0c0c0c;
  color: #e9e9e9;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 9;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
          box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
}

.contactBox {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.contactBox h1 {
  font-size: 2em;
}

.contactInfo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
}

.contactInfo p {
  font-size: 1.3em;
}

.siteByInfo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 9;
      grid-row-start: 9;
  grid-row-end: 9;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  visibility: visible;
}

.slideContainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(1em, 1fr) (1em, 1fr)[2];
      grid-template-columns: minmax(1em, 1fr) repeat(2, 1em, 1fr);
}

.from-right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  visibility: hidden;
}

.from-left {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
  visibility: hidden;
}

.from-right, .from-left {
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.from-right.appear, .from-left.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.slide-in {
  background-color: #0c0c0c;
  color: #e9e9e9;
}

.musicContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10em 40em auto;
      grid-template-columns: 10em 40em auto;
  -ms-grid-rows: 5em auto;
      grid-template-rows: 5em auto;
  padding: 5em;
  margin-bottom: 20em;
  margin-top: 20em;
  background-color: #0c0c0c;
  color: #e9e9e9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
          box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
}

.musicContainer h2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  padding-bottom: 1em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 2em;
}

.musicContainer iframe {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  width: 600px;
  height: 400px;
  background: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.musicContainer video {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  width: 600px;
  max-height: 400px;
  background: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.musicContainer p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-size: 1.2em;
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  .musicContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    -ms-grid-rows: 5em 20em 5em 5em auto;
        grid-template-rows: 5em 20em 5em 5em auto;
  }
  .musicContainer h2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    font-size: 1.4em;
  }
  .musicContainer video {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    width: 600px;
    max-height: 400px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .musicContainer p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    font-size: 0.7em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .musicContainer h2 {
    font-size: 1.8em;
  }
  .musicContainer p {
    font-size: 1em;
  }
}

.span {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.gap {
  width: 1rem;
}

.span.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
  color: #080808;
  letter-spacing: 0.2em;
  line-height: 2.5em;
}

body, html {
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */